/* SignUp.css */


  
  .signup-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: 500px;
    text-align: center;
    margin-left: 400px;
  }

  
  .signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .signin-link {
    color: green;
    margin-bottom: 20px;
    cursor: pointer;
    
  }
  .signin-link:hover{
    text-decoration: underline;
    color: green;
    
  }

  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100px;
   margin-left: 320px;
  }
  
  button:hover {
    background-color: darkgreen;
  }
  